@mixin center-content{
    width: 1100px;
    margin: 0 auto;
}

@mixin centerTitle{
      padding: 0 8rem 1.5rem 8rem;
      text-align: center;  
    }

@mixin imgSize{

    object-fit: cover;
    width: 70px;
    height: 70px;
    
 
}

@mixin lineSize{
  width: 35%;
}